<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Linx - Learn Japanese Just by Watching Anime</title>
        <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript">
            function scrollTo(id) {
                $('html, body').animate({ scrollTop: $('#'+id).offset().top }, 'slow');
                return false;
            }
        </script>
    </head>

    <body>